<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10" >
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/history">Mon historique</a></li>
	</ul>

	<div class="row-fluid" 
		<!-- start: Widgets of History -->
		<div class="span7">
			<h1>Historique des trajets</h1>
				<div ng-repeat="it in itineraries | orderBy :'-id'" >
					<div class="priority low" ng-if="it.date.jour != itineraries[itineraries.length-$index].date.jour || it.date.mois != itineraries[itineraries.length-$index].date.mois || it.date.annee != itineraries[itineraries.length-$index].date.annee"><span>{{it.date.jour}} {{it.date.mois | monthName}} {{it.date.annee}}</span></div>

					<div class="task low itinerary" ng-class="{ 'it_selected': $index == selectedIndex }" ng-click="itinerarySelected($index)">
						<div class="desc">
							<div class="title">{{it.depart.text}} - {{it.arrivee.text}}</div>
							<div>Durée: {{it.duree.m}} mins</div>
						</div>
						<div class="time">
							<div class="date">{{it.distance}} KM</div>
						</div>
					</div>
				</div>
		</div>

		<div class="span5 noMarginLeft">
			<div class="dark" ng-hide="selectedIndex == -1">
				<h1>Information sur le trajet</h1>
				<br/>
				<div class="hist">
					<p><i class="icon-map-marker" style="color:green"></i> {{itinerary.depart}}</p>
					<p><i class="icon-map-marker" style="color:red"></i> {{itinerary.arrivee}}</p>
					<p>{{itinerary.date}}</p>

				</div>
				<br>
				<p><i class="icon-trophy"></i> Vitesse max : {{itinerary.vitesse_max}} km/h</p>
				<p>Vitesse moyenne : {{itinerary.vitesse_moy}} km/h</p>
				<p>Calories brulées : {{itinerary.calories}}</p>
				<p><i class="icon-trophy"></i> Altitude max : {{itinerary.alt_max}} m</p>
				<p>Altitude min : {{itinerary.alt_min}} m</p>
				<ui-gmap-google-map ng-hide="selectedIndex == -1" center='map.center' zoom='map.zoom'>
					<ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" bounds="'bounds'" icon="'icon'"></ui-gmap-markers>
    			</ui-gmap-google-map>
			</div>
		</div>
		<!-- end: Widgets of History -->
	</div>
</div>
<!-- end: Content -->