<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/history">Mon historique</a></li>
	</ul>

	<div class="row-fluid">
		<!-- start: Widgets of History -->
		<div class="span7">
			<h1>Historique des trajets</h1>
			<div class="priority low"><span>07 Mai 2015</span></div>

			<div class="task low">
				<div class="desc">
					<div class="title">8 rue machin, Rennnes - 20 rue truc, Cesson</div>
					<div>Durée: 35 mins</div>
				</div>
				<div class="time">
					<div class="date">12 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>


			<div class="priority low"><span>14 Avril 2015</span></div>

			<div class="task low">
				<div class="desc">
					<div class="title">République - ESIR</div>
					<div>Durée: 35 mins</div>
				</div>
				<div class="time">
					<div class="date">12 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
			<div class="task low">
				<div class="desc">
					<div class="title">ESIR - MacDonald</div>
					<div>Durée: 10 mins</div>
				</div>
				<div class="time">
					<div class="date">5 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
			<div class="priority low"><span>10 Avril 2015</span></div>
			<div class="task low">
				<div class="desc">
					<div class="title">MacDonald - Diapason Beaulieu</div>
					<div>Durée: 20 mins</div>
				</div>
				<div class="time">
					<div class="date">8 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
		</div>

		<div class="span5 noMarginLeft">
			<div class="dark">
				<h1>Information sur le trajet</h1>
				<br/>
				<div class="hist_depart"><p><i class="icon-map-marker"></i> 8 rue machin, Rennnes - 20 rue truc, Cesson</p></div>

				<p><i class="icon-trophy"></i> Vitesse max : 29 km/h</p>
				<p><i class="icon-signal"></i> Vitesse moyenne : 20 km/h</p>
				<p>Calories brulées : 850</p>
				<p>Altitude max : 762 m</p>
				<p>Altitude min : 453 m</p>
				<ui-gmap-google-map center='map.center' zoom='map.zoom'>
					<ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'"></ui-gmap-markers>
    			</ui-gmap-google-map>


			</div>
		</div>
		<!-- end: Widgets of History -->
	</div>
</div>
<!-- end: Content -->