<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/history">Mon historique</a></li>
	</ul>

	<div class="row-fluid">
		<!-- start: Widgets of History -->
		<div class="span7">
			<h1>Historique des trajets</h1>
			<div class="priority low"><span>14 Avril 2015</span></div>

			<div class="task low">
				<div class="desc">
					<div class="title">République - ESIR</div>
					<div>Durée: 35 mins</div>
				</div>
				<div class="time">
					<div class="date">12 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
			<div class="task low">
				<div class="desc">
					<div class="title">ESIR - MacDonald</div>
					<div>Durée: 10 mins</div>
				</div>
				<div class="time">
					<div class="date">5 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
			<div class="priority low"><span>10 Avril 2015</span></div>
			<div class="task low">
				<div class="desc">
					<div class="title">MacDonald - Diapason Beaulieu</div>
					<div>Durée: 20 mins</div>
				</div>
				<div class="time">
					<div class="date">8 KM</div>
					<!--<div> 1 day</div>-->
				</div>
			</div>
		</div>

		<div class="span5">
		<div class="dark">
		<h1>Destinations</h1>
			
		</div>
		</div>
		<!-- end: Widgets of History -->
	</div>
</div>
<!-- end: Content -->