<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/">Dashboard</a></li>
	</ul>
				
	<div class="row-fluid">
		<div class="row-fluid hideInIE8 circleStats">
			<!-- Start: widget battery -->
			<div class="span3" onTablet="span4" onDesktop="span3">
		    	<div class="circleStatsItemBox blue">
					<div class="header">État de la batterie</div>
					<span class="percent">%</span>
					<div class="circleStat">
		        		<input id="battery" type="text"/>
					</div>		
					<div class="footer">
						<span>Autonomie : <b>{{autonomy}}</b></span>
					</div>
		    	</div>
			</div>
			<!-- end: widget battery -->

			<!-- start: widget distance -->
			<div class="box span4">
				<div class="box-header">
					<h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Distances parcourues</h2>
				</div>
				<div class="box-content">
					<table class="table table-striped">
						<tr>
							<td style="width:40%;">Cette semaine</td>
							<td>
								<div id="distanceWeek" class="progress progressAnimate blue"></div>
								<div class="field_notice"><span class="progressAnimateValue"></span></div>
							</td>
						</tr>
						<tr>
							<td style="width:40%;">Ce mois</td>
							<td>
								<div id="distanceMonth" class="distanceMonth progress progressAnimate yellow"></div>
								<div class="field_notice"><span class="must progressAnimateValue"></span></div>
							</td>
						</tr>
						<tr>
							<td style="width:40%;">Cette année</td>
							<td>
								<div id="distanceYear" class="distanceYear progress progressAnimate pink"></div>
								<div class="field_notice"><span class="must progressAnimateValue"></span></div>
							</td>
						</tr>
					</table>
					<ul class="unstyled">         
						<li><span class="timeRecord">Distance totale : <b>{{totaleDistance}}</b> km</span></li>
					</ul>
				</div>	
			</div>
			<!-- end: widget distance -->

			<!-- Start: widget records -->
			<div class="box span4">
				<div class="box-header" data-original-title>
					<h2><i class="halflings-icon white list"></i><span class="break"></span>All time records</h2>
				</div>
				<div class="box-content">
					<div class="sparkLineStats" ontablet="span5" ondesktop="span4">
	                    <ul class="unstyled">         
	                    	<li><span class="glyphicons-icon dashboard"></span><span class="timeRecord">Vitesse maximum : <b>{{maxSpeed}}</b> km/h</span></li>
							<li><span class="glyphicons-icon bicycle"></span><span class="timeRecord">Distance maximale : <b>{{maxDistance}}</b> km</span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end: widget records -->
		</div>
	</div>

	<div class="row-fluid">
		<!-- Start: widget météo -->
		<h1> Ma météo </h1>
		<div class="span3 statbox green" ontablet="span6" ondesktop="span3">
			<div class="boxchart"><img src="{{dailyWeather[0].icon}}"></div>
			<div class="number">{{dailyWeather[0].temp | temp:1}}°</div>
			<div class="title">min: {{dailyWeather[0].temp_min | temp:1}}° - max: {{dailyWeather[0].temp_max | temp:1}}°</div>
			<div class="footer">
				<a href=""> {{dailyWeather[0].date}}</a>
			</div>
		</div>
		<div class="span2 statbox green noMargin" ontablet="span6" ondesktop="span3">
			<div class="boxchart"><img src="{{dailyWeather[1].icon}}"></div>
			<div class="number min_number">{{dailyWeather[1].temp | temp}}°</div>
			<div class="title min_title">min: {{dailyWeather[1].temp_min | temp}}° - max: {{dailyWeather[1].temp_max | temp}}°</div>
			<div class="footer">
				<a href=""> {{dailyWeather[1].date}}</a>
			</div>
		</div>
		<div class="span2 statbox green noMargin" ontablet="span6" ondesktop="span3">
			<div class="boxchart"><img src="{{dailyWeather[2].icon}}"></div>
			<div class="number min_number">{{dailyWeather[2].temp | temp}}°</div>
			<div class="title min_title">min: {{dailyWeather[2].temp_min | temp}}° - max: {{dailyWeather[2].temp_max | temp}}°</div>
			<div class="footer">
				<a href=""> {{dailyWeather[2].date}}</a>
			</div>
		</div>
		<div class="span2 statbox green noMargin" ontablet="span6" ondesktop="span3">
			<div class="boxchart"><img src="{{dailyWeather[3].icon}}"></div>
			<div class="number min_number">{{dailyWeather[3].temp | temp}}°</div>
			<div class="title min_title">min: {{dailyWeather[3].temp_min | temp}}° - max: {{dailyWeather[3].temp_max | temp}}°</div>
			<div class="footer">
				<a href=""> {{dailyWeather[3].date}}</a>
			</div>
		</div>


		
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<ul class="list-inline item-details">
					<li><a href="http://themifycloud.com">Admin templates</a></li>
					<li><a href="http://themescloud.org">Bootstrap themes</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end: Content -->