<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/performances">Mes performances</a></li>
	</ul>

	<div class="row-fluid">
		<div class="span12">
			<h1>Kilomètres parcourus cette année</h1>
			<br>
			<div class="box-content">
				<div id="graph_perf" class="center" style="height:300px;"></div>
			</div>
			<div class="tooltip-demo well pannel-perf"X>
				<span>Distance totale : <b>{{totaleDistance}}</b> km</span><br />
				<span id="hoverdata"><br></span>		 
			</div>
		</div>
	</div>
</div>
<!-- end: Content -->