<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/performances">Mes performances</a></li>
	</ul>

	<div class="row-fluid">

				
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Perfomance sur l'année</h2>
						<div class="box-icon">
						</div>
					</div>
					<div class="box-content">
						 <div id="graph_perf" class="center" style="height:300px;"></div>
					</div>
					<p id="hoverdata"><br></p>
				</div>


	</div>
</div>
<!-- end: Content -->