<!-- start: Main Menu -->
<div ng-include src="'template/sidebar.html'"></div>
<!-- end: Main Menu -->

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#/">Home</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#/profile">Mon profil</a></li>
	</ul>

	<div class="row-fluid">
		<p class="setting"><span>Nom</span> {{user.lastname}}</p>
		<p class="setting"><span>Prénom</span> {{user.firstname}}</p>
		<p class="setting"><span>E-mail</span> {{user.email}}</p>
		<p class="setting"><span>Adresse</span> {{user.location}}</p>
	</div>
</div>
<!-- end: Content -->