<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li ng-class="{active: isActive('/')}"><a ng-href="#/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
			<li ng-class="{active: isActive('/history')}"><a ng-href="#/history"><i class="icon-list"></i><span class="hidden-tablet"> Mon historique</span></a></li>
			<li ng-class="{active: isActive('/performances')}"><a ng-href="#/performances"><i class="icon-dashboard"></i><span class="hidden-tablet"> Mes performances</span></a></li>
			<li ng-class="{active: isActive('/profile')}"><a ng-href="#/profile"><i class="icon-user"></i><span class="hidden-tablet"> Mon profil</span></a></li>
			<li ng-class="{active: isActive('/console')}"><a ng-href="#/console"><i class="icon-wrench"></i><span class="hidden-tablet"> Console</span></a></li>
		</ul>
	</div>
</div>